
body {
    position: relative;
    overflow-x: hidden;
    
}
body,
html { height: 100%; }

.list-element{
    padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
}
#map-container{
    position: fixed;
    z-index: -1;
    right:0px;
    top:0px;
}
#search-box-container{
    margin: 5px;
    margin-left: 25px;
    padding-right:25px;
}
#search-box{
    color: grey;
    background-color: gainsboro;
    border-radius-left: 7px;
}
#search-btn{
    font-size: 20px;
    border-radius-right: 7px;
}

#tabs{
    border: none;
}
#inside-tab{
    font-size: 10px;
    padding: 20px;
    margin-left: 25px;
}
#inside-tab-btn{
    margin: 0px;
    padding:2px;
    padding-left:5px;
    padding-right:5px;
    border-radius: 15px;
    color:white;
    background-color: darkgrey;
}
.nav-tabs{
    border:none;
}
.nav-tabs>li>a, .nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
    border: none;
    padding: 0px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
}
#tab-head{
    padding-left: 50px;
}
#main-enclosure{
    padding:0px;
}
-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

.navbar{
    margin-bottom: 0px;
    
}
.wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.wrapper.toggled {
    padding-left: 340px;
}

#sidebar-wrapper {
    z-index: 1000;
    left: 340px;
    width: 0;
    height: 100%;
    margin-left: -340px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #FFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-right: 1px solid gainsboro;
    
}

#sidebar-wrapper::-webkit-scrollbar {
  display: none;
}

.wrapper.toggled #sidebar-wrapper {
    width: 340px;
    
}

#page-content-wrapper {
    padding-top: 0px;
    width:100%;
     position: absolute;
     
    background-size: cover;
}

#top-navbar{
    width: 100%;
    padding-left: 70px;
}

.wrapper.toggled #page-content-wrapper {
   position: absolute;
    margin-right: -340px;
    width: 100%;
}


/*-------------------------------*/
/*       Hamburger-ARROW         */
/*-------------------------------*/

.hamburger {
  font-family:'Glyphicons Halflings'; 
  content: "\f015";
  position: fixed;
  top: 0px;  
  z-index: 999;
  display: grid;
  width: 40px;
  height: 40px;
  margin-left: 0px;
  background: transparent;
    border: none;
   
    
 }
.hamburger.is-closed .icon:before{
    content:"\e092";
    color: black;
    font-size: 30px;
    font-style:normal;
} 
.hamburger.is-open .icon:before{
       content:"\e091";
    color: black;  
    font-size: 30px;
    font-style:normal;
} 

