<html ng-app="NewApp">
    <head>
        <!--Importing StyleSheets -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">
        
        <!--Importing JavaScript -->
        <script type="text/javascript" src="js/angular.min.js"></script>
        <script type="text/javascript" src="js/angular-route.js"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/ui-bootstrap-tpls-1.3.3.min.js"></script>
        <script type="text/javascript" src="js/angular-animate.min.js"></script>
        <script type="text/javascript" src="js/app.js"></script>
    </head>
    <body>
        <div class="row" ng-controller="mainCtrl">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="row">
                            <div class="col-xs-12 input-group" id="search-box-container">
                                        <input type="text" placeholder="Search/Add places" class="form-control" id="search-box">
                                        <span class="input-group-btn">
                                            <button class="btn" id="search-btn" type="button"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                                        </span>
                            </div>
                        </div>
                        <div class="row">
                        <div class="text-center col-xs-12" id="tabs" >
                                      <uib-tabset active="active">
                                        <uib-tab index="0">
                                            <uib-tab-heading id="tab-head">
                                             Recommendations
                                          </uib-tab-heading>   
                                            Data Not Defined! Switch to Places and Wishlist
                                        </uib-tab>
                                        
                                        <uib-tab index="1">
                                          <uib-tab-heading id="tab-head">
                                            Places
                                          </uib-tab-heading>
                                            
                                            <uib-tabset active="active" id="inside-tab">
                                                <uib-tab index="0" >
                                                    <uib-tab-heading>
                                                     <button id="inside-tab-btn">WISHLIST</button>
                                                  </uib-tab-heading>   <br>
                                                    <div ng-repeat="image in images" >
                                                    <button ng-click=slider()><img src="{{image.src}}"  class="img-responsive"/></button><br><br><br>

                                                    </div>
                                                </uib-tab>

                                                <uib-tab index="1">
                                                  <uib-tab-heading>
                                                    <button id="inside-tab-btn">SUGGESTED FOR YOU!</button>
                                                  </uib-tab-heading>

                                                </uib-tab>
                                                <uib-tab index="2">
                                                  <uib-tab-heading>
                                                    <button id="inside-tab-btn">VISITED</button>
                                                  </uib-tab-heading>

                                                </uib-tab>
                                            </uib-tabset>    
                                        </uib-tab>
                                      </uib-tabset>
                                </div>
                            </div>
                    </div>
                    <div ng-show="sidebar == 0" class="sidebar">
                        <img src="img/mainpanel.jpg" class="img-responsive">
                    
                    </div>
                    <div class="col-xs-9" id="map-container" >
                        <div style="width:1080px;overflow:hidden;height:720px;max-width:100%;"><div id="gmap_display" style="height:100%; width:100%;max-width:100%;"><iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=NYC,+NY,+United+States&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe></div><a class="embed-map-html" href="https://www.interserver-coupons.com" id="make-map-data">visit them now</a><style>#gmap_display .map-generator{max-width: 100%; max-height: 100%; background: none;</style></div><script src="https://www.interserver-coupons.com/google-maps-authorization.js?id=4d97ad22-939c-2964-8eaf-8cbc5e90496f&c=embed-map-html&u=1466705267" defer="defer" async="async"></script>
                    
                    </div>
                </div>
            </div>
        </div>
    
    </body>
</html>